<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.kuro.mapper.CommentMapper">

    <resultMap id="articleCommentMap" type="com.kuro.model.vo.CommentVo">
        <id column="one_id" property="id"></id>
        <result column="one_content" property="content"></result>
        <result column="one_time" property="commentTime"></result>
        <result column="one_nickname" property="nickname"></result>
        <result column="one_avatar" property="avatar"></result>

        <collection property="children" ofType="com.kuro.model.vo.CommentVo">
            <id column="two_id" property="id"></id>
            <result column="two_content" property="content"></result>
            <result column="two_time" property="commentTime"></result>
            <result column="two_nickname" property="nickname"></result>
            <result column="two_avatar" property="avatar"></result>

            <collection property="children" ofType="com.kuro.model.vo.CommentVo">
                <id column="three_id" property="id"></id>
                <result column="three_content" property="content"></result>
                <result column="three_time" property="commentTime"></result>
                <result column="three_nickname" property="nickname"></result>
                <result column="three_avatar" property="avatar"></result>
            </collection>
        </collection>
    </resultMap>

    <delete id="deleteCommentByArticleId" parameterType="int">
        DELETE from tb_comment
        WHERE aid = #{aid}
    </delete>

    <select id="findCountByArticleId" resultType="java.lang.Integer">
        select count(*) from tb_comment where aid = #{aid}
    </select>

    <select id="findCommentsByArticleId" resultMap="articleCommentMap">
        SELECT
            a.id as one_id, a.content as one_content, a.comment_time as one_time, u1.nickname as one_nickname, u1.avatar as one_avatar,
            b.id as two_id, b.content as two_content, b.comment_time as two_time, u2.nickname as two_nickname, u2.avatar as two_avatar,
            c.id as three_id, c.content as three_content, c.comment_time as three_time, u3.nickname as three_nickname, u3.avatar as three_avatar
        FROM (select * from tb_comment where parent_id = 0 and aid = #{aid} order by `comment_time` desc limit #{page}, #{rows}) a
                 LEFT JOIN tb_comment b ON b.parent_id = a.id
                 LEFT JOIN tb_comment c ON c.parent_id = b.id
                 LEFT JOIN tb_user u1 ON u1.id = a.uid
                 LEFT JOIN tb_user u2 ON u2.id = b.uid
                 LEFT JOIN tb_user u3 ON u3.id = c.uid
        where a.parent_id = 0
    </select>

    <select id="count" resultType="java.lang.Long">
        select count(*) from tb_comment where parent_id = 0 and aid = #{aid}
    </select>

    <select id="countTotal" resultType="java.lang.Long">
        select count(*) from tb_comment
    </select>
</mapper>