<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.kuro.mapper.UserMapper">

    <select id="findRolesById" resultType="com.kuro.model.entity.Role">
        SELECT r.id, r.role_name, r.remark, r.create_time, r.`status` FROM tb_role r
        LEFT JOIN tb_user_role ur ON r.id = ur.role_id
        LEFT JOIN tb_user u ON u.id = ur.user_id
        WHERE u.id = #{user_id}
    </select>

    <select id="findMenuByRoleId" resultType="com.kuro.model.entity.Menu">
        SELECT m.id, m.menu_name, m.path, m.create_time, m.icon, m.parent_id, m.perms, m.type FROM tb_menu m
        LEFT JOIN tb_role_menu rm ON m.id = rm.menu_id
        LEFT JOIN tb_role r ON r.id = rm.role_id
        WHERE r.id = #{role_id}
    </select>

</mapper>